:root {
    --main-color: #20A6FF;
    --main-color-light: #F6FAFE;
    --text-color: #162C56;
    --text-color-50: #696F72;
    --gray-color: #F8F8F8;
}

body {
    color: var(--text-color);
    font-family: 'Lato', sans-serif;
    padding: 2em;
}

.logo-back-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-color-primary {
    color: var(--main-color);
}

.text-color-medium {
    color: var(--text-color-50);
}

.step-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75em;
}

.step-number {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-size: 1.25rem;
    font-weight: 700;
    background-color: white;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    z-index: 1;
}

.step-title {
    font-weight: 700;
}

.step-description {
    display: none;
    color: var(--text-color-50);
}

.step-number.active {
    color: white;
    background-color: var(--main-color);
}

.steps-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5em 0;
}

.steps-container::after {
    position: absolute;
    content: "";
    top: calc(35px / 2);
    height: 1px;
    width: 100%;
    background-color: #20A6FF;
    z-index: 0;
}

.back-button {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    color: #20A6FF;
    background: none;
    border: none;
}

.button {
    width: 100%;
    margin-top: 3em;
    padding: 1em;
    color: white;
    border-radius: 25px;
    background: linear-gradient(to right, #AD96DC, #20A6FF);
    border: none;
}

.offer-container {
    padding: 1.5em;
    text-align: center;
    background-color: var(--main-color-light);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.form-description {
    margin: 3em 0;
}

.title-container {
    display: none;
}

@media only screen and (min-width: 500px) {
    .card-steps-container {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        background-color: var(--gray-color);
        border-radius: 8px;
        padding: 2em;
        margin-top: calc(2em + 110px);
    }

    .step-title {
        font-size: 1.25rem;
        margin: 0;
    }

    .step-description {
        display: block;
        margin: 0;
    }

    .steps-container {
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
        gap: 2em;
    }

    .steps-container::after {
        height: 100%;
        width: 1px;
        left: calc(31px / 2);
        top: 0;
    }

    .step-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .offer-container {
        display: none;
    }

    .card-container {
        position: absolute;
        top: calc(-110px - 1em);
        left: calc(50% - 172px / 2);
    }

    .questions-container {
        padding: 2em;
        background-color: var(--main-color-light);
        border-radius: 0.75em;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    }
    .button {
        width: 250px;
        margin-left: auto;
    }
}

@media only screen and (min-width: 900px) {
    body {
        display: flex;
        gap: 1em;
    }

    .logo-back-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
    }

    .form-description {
        margin: 1em 0;
        font-size: 1.25rem;
    }

    h1 {
        font-size: 3.5rem;
        font-weight: 900;
        color: var(--main-color);
        margin: 0;
    }

    h2 {
        font-size: 2rem;
        font-weight: 600;
        margin: 0;
    }

    .title-container {
        display: flex;
        align-items: center;
        gap: 1em;
        color: var(--main-color);
    }

    .form-question {
        display: grid;
        grid-template-columns: 3fr 1fr;
        align-items: center;
        gap: 1em;
    }

    
}

@media only screen and (min-width: 1200px) {
    body {
        gap: 6em;
    }
}